.tmp
dist
*.zip

node_modules

.directory
npm-debug.log

apm-client/node_modules/
apm-client/npm-debug.log
apm-client/.directory

apm-server/npm-debug.log
apm-server/node_modules/
apm-server/.directory